* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 20px;
}

img {
    color: inherit;
    text-decoration: none;
}

.product-list {
    padding: 20px;
    display: grid;
    gap: 20px; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.product {
    background-color: rgb(230, 244, 255);
    max-width: 300px;
    border-radius: 14px;
    padding: 20px;
    text-align: center;
}

.product img {
    padding: 10px;
    display: block;
    max-width: 140px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.product h2 {
    padding: 10px;
}

.product p {
    font-size: 14px;
    padding: 10px;
}

.product span {
    padding: 10px;
}

.button {
    padding: 10px;
}

.button button {
    padding: 4px;
    border-radius: 6px;
    transition-duration: 0.05s;
    background-color: white;
    color: black;
    cursor: pointer;
}

.button button:hover {
    transition-duration: 0.1s;
    background-color: rgb(241, 241, 241);
}

.button button:active {
    transform: translateY(2px);
}

.cart-icon {
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    font-size: 24px;
    width: 30px;
    height: 30px;
}

#cart-count {
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: crimson;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: clamp(6px, 8px, 10px); 
}

.cart-details {
    margin-inline: 20px;
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-block: 5px;
    display: none;
}

.cart-details h2 {
    padding-block: 10px;
}

.cart-details li {
    margin-left: 15px;
    background-color: rgb(230, 244, 255);
    padding: 6px 10px;
    border-radius: 6px; 
    margin-bottom: 4px;
    max-width: fit-content;
}

.cart-details p {
    margin-block: 4px;
    font-weight: bold;
}

.cart-details.show {
    display: block;
}

.remove-button {
    margin-left: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.remove-button:hover {
    transition-duration: 0.05s;
    transform: translateY(-2px);
}

.header-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

#search-bar {
    flex-shrink: 0;
    border: 1px solid black;
    border-radius: 20px;
    padding: 6px 10px;
    font-size: 16px;
    width: 990px;
}
